@media screen and (min-width: 1440px) {

    .wraper {
        max-width: 1440px;
        margin: 0 auto;
    }

    .wraper__img {
        max-width: 1440px;
        height: 765px;
    }

    .header__content {
        max-width: 100vw;
        box-shadow: 0px 4px 4px rgb(13 96 111 / 50%);
        display: flex;
        padding: 1.7% 7.6% 1.7% 8.3%;
        align-items: center;
        background: var(--palette-primary);
        opacity: 0.7;
        gap: 14%;
    }

    .header__content_invis {
        display: none;
    }

    .hed-log {
        display: inline-block;
    }

    .header__logo-image {
        margin-right: 6px;
    }

    .header__nav {
        display: inline-block;
        vertical-align: top;
        padding-top: 11px;
    }

    .nav__list {
        display: var(--display-flex);
        justify-content: space-between;
        gap: 42px;
    }

    .main__wrapper {
        margin-top: -675px;
    }

    .find-more_invis {
        display: none;
    }

    .footer__img {
        margin-top: -1271px;
    }

    .rfv {
        max-width: 1440px;
        position: absolute;
        bottom: 9px;
    }

    .footer__content {
        justify-content: unset;
        padding: 0px 80px;
    }

    .personal-data {
        margin-right: 332px;
    }

    .personal-data__item:not(:last-child) {
        margin-right: 20px;
    }

    .footer__copyright {
        /* margin: auto 0; */
        margin-right: 330px;
    }

    .social-media {
        gap: 0;
    }

    .social-media__item:not(:last-child) {
        margin-right: 21px;
    }

}

@media screen and (max-width: 1439.9px) {
    .steps__list {
        padding: 0 9%;
        display: var(--display-flex);
        justify-content: space-between;
    }

    .steps__item {
        display: var(--display-flex);
        flex-direction: var(--flex-direction-col);
        justify-content: center;
        align-items: center;
    }

    .steps__item-one {
        margin-right: 0px;
    }

    .steps__item-two {
        margin-right: 0px;
    }

    .header__content {
        max-width: calc(100vw);
        padding: 1.7% 0.0% 1.7% 0.0%;
        box-shadow: 0px 4px 4px rgb(13 96 111 / 50%);
        display: var(--display-flex);
        justify-content: space-around;
        align-items: center;
        background: var(--palette-primary);
        opacity: 0.7;
    }

    .header__content_invis {
        display: none;
    }

    .nav__list {
        display: var(--display-flex);
        justify-content: space-between;
        gap: 2rem;
    }

    .preview,
    .steps {
        padding: 5% 4% 5% 4%;
    }

    .find-more_invis {
        display: none;
    }
}

/* @media screen and (max-width: 1400px) {
    .search__button {
        margin-left: -21%;
    }
}

@media screen and (max-width: 1375px) {
    .search__button {
        margin-left: -21.5%;
    }
}

@media screen and (max-width: 1350px) {
    .search__button {
        margin-left: -23%;
    }
}

@media screen and (max-width: 1280px) {
    .search__button {
        margin-left: -23.5%;
    }
}

@media screen and (max-width: 1260px) {
    .search__button {
        margin-left: -24%;
    }
}

@media screen and (max-width: 1230px) {
    .search__button {
        margin-left: -25%;
    }
}

@media screen and (max-width: 1200px) {
    .search__button {
        margin-left: -26%;
    }
}

@media screen and (max-width: 1160px) {
    .search__button {
        margin-left: -27%;
    }
}

@media screen and (max-width: 1120px) {
    .search__button {
        margin-left: -28%;
    }
}

@media screen and (max-width: 1090px) {
    .search__button {
        margin-left: -29%;
    }
}

@media screen and (max-width: 1060px) {
    .search__button {
        margin-left: -30%;
    }
}

@media screen and (max-width: 1060px) {
    .search__button {
        margin-left: -31%;
    }
}

@media screen and (min-width: 975px) and (max-width: 1010px) {
    .search__button {
        margin-left: -33%;
    }

} */

@media screen and (min-width: 320px) and (max-width: 390.9px) {
    .wraper__img {
        background-image: url('../img/background/bg-header-mob.jpg');
        background-size: cover;
        width: 100%;
        height: 251px;
    }

    .header__content {
        display: none;
    }

    .header__content_invis {
        display: flex;
        justify-content: space-between;
        padding: 11% 6% 0 4%;
    }

    .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }

    .menu-btn__item {
        width: 26.25px;
        height: 2.67px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFFFFF;
        background-color: red;
        transition: all 0.5s;
    }

    .menu-btn__item:nth-of-type(2) {
        top: calc(50% - 6px);
    }

    .menu-btn__item:nth-of-type(3) {
        top: calc(50% + 7px);
    }

    .menu-btn:hover {
        cursor: pointer;
    }

    .header__menu_mobile {}

    .menu {
        display: flex;
        flex-direction: column;
    }

    .menu__burger {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }

    .menu__part {
        width: 26.25px;
        height: 2.67px;
        position: absolute;
        top: 0%;
        right: 0%;
        /* transform: translate(-50%, -50%); */
        /* background-color: #FFFFFF; */
        background-color: green;
        transition: all 0.5s;
    }

    .menu__part:nth-of-type(2) {
        top: calc(50% - 6px);
    }

    .menu__part:hover {
        cursor: pointer;
    }



    .menu__wrapper {
        /* width: 100vw;
        height: 100vh; */

    }

    .menu__item {
        list-style-type: none;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        gap: 13px;
        align-items: end;
        width: 151.5px;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 44px;
        padding-right: 16px;
        padding-bottom: 30px;
        background-color: var(--palette-primary);
        box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
        border-radius: 10px;
    }

    .menu__link {
        text-decoration: none;
        color: var(--palette-text-main);
        font-family: var(--RedHatText-Regular);
        font-size: calc(var(--font-size-primary-mobile) + 2px);
        letter-spacing: 0.4px;
        transition: all .5s ease;
    }

    /* .menu-btn_open { */
    /* width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden; */
    /* transform: translate(-347%, -119%) rotate(45deg);
        overflow: visible;
    } */

    /* .menu-btn__item_open{ */
    /* transform: translate(-347%, -119%) rotate(45deg);
        width: 26.25px;
        height: 2.67px;
        position: absolute;
        top: 20px;
        right: 105px;
        transform: translate(-50%, -50%);
        transform: translateX(50deg);
        background-color: #FFFFFF;
        background-color: red;
        transition: all 0.5s; */
    /* } */

    /* .menu-btn_open>.menu-btn__item_open{
        width: 19.25px;
    } */

    /* .menu-btn_open>.menu-btn__item_open:nth-child(2){ */
    /* width: 0px; */
    /* } */
    /* .menu-btn_open>.menu-btn__item_open:last-child{ */
    /* transform: translate(-56%, -320%) rotate(90deg); */
    /* transform: translate(-330%, -115%) rotate(180deg); */
    /* } */



    /* .menu-btn__item_open:nth-of-type(2) {
        transform: translate(-330%, -115%) rotate(180deg);
    }

    .menu-btn__item_open:nth-of-type(3) {
        transform: translate(-330%, -115%) rotate(180deg);
    } */

    /* .header__menu_mobile {} */

    /* .menu {
        display: flex;
        flex-direction: column;
        gap: 13px;
        align-items: end;
        width: 151.5px;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 44px;
        padding-right: 16px;
        padding-bottom: 30px;
        background-color: var(--palette-primary);
        box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
        border-radius: 10px;
    } */

    /* .menu__list {} */

    /* .menu__item {
        list-style-type: none;
    } */

    /* .menu__link {
        text-decoration: none;
        color: var(--palette-text-main);
        font-family: var(--RedHatText-Regular);
        font-size: calc(var(--font-size-primary-mobile) + 2px);
        letter-spacing: 0.4px;
        transition: all .5s ease;
    } */



    .main__wrapper {
        margin-top: -1000px;
    }

    .header__button {
        display: none;
        /* временно мешает */
    }

    .preview-text {
        margin-bottom: 294px;
    }

    .search {
        margin-bottom: 12%;
    }

    .search__input {
        width: 100%;
        font-size: var(--font-size-primary-mobile);
        padding: 16px 1px 16px 0px;
        border: none;
        background: rgba(255, 255, 255, 0.7);
    }

    .search__input::placeholder {
        padding-left: 16.55px;
    }

    .search__button {
        font-size: var(--font-size-secondary-mobile);
        margin-left: 66.3%;
        margin-top: -39.5px;
        padding: 7.5px 9px 7.5px 9px;
        position: absolute;
    }

    .section__title {
        font-size: var(--font-size-primary-mobile);
        text-align: center;
    }

    .steps__title {
        margin-bottom: 6%;
    }

    .steps__list {
        padding: 0 0;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 0.9%;
    }

    .steps__item {
        flex: 1 3 33%;
    }

    .steps__item-one {
        align-items: flex-start;
    }

    .steps__item-two {
        align-items: center;
    }

    .steps__item-three {
        align-items: flex-end;
    }

    .steps__img {
        width: 35px;
        padding: 19px 18px 19.5px 17px;
        margin-bottom: 0px;
    }

    .steps__img-one {
        margin-bottom: 19px;
    }

    .steps__img-two {
        margin-bottom: 17px;
    }

    .steps__img-three {
        margin-bottom: 23px;
    }

    .steps__link-one {
        max-width: 75px;
    }

    .steps__link-two {
        max-width: 111px;
    }

    .steps__link-three {
        max-width: 76px;
    }

    .steps__link {
        font-size: 10px;
    }

    .destinations__carousel {
        display: none;
    }

    .destinations__title {
        margin-bottom: 41%;
        /* padding-bottom: 1.5%; */
        /* временно, пока не сделаю карусель */
    }

    .button__find-more,
    .button__see-more {
        display: none;
    }

    .find-more_invis,
    .see-more_invis {
        display: block;
        margin: 0 auto;
        padding: 1.5px 12px 4.5px 12px;
        margin-bottom: 16px;
    }

    .arrow_invis {
        margin-right: 4px;
    }

    .find-more__text_invis,
    .see-more__text_invis {
        font-family: var(--RedHatText-Medium);
        color: var(--palette-text-main);
        font-size: var(--font-size-secondary-mobile);
    }



    .destinations {
        padding-bottom: 1.3%;
    }

    .stories__wrapper {
        padding-top: 5%;
        padding-left: 4%;
        padding-right: 4%;
        background: rgba(255, 255, 255, 0.7);
    }

    .stories__title {
        margin-bottom: 3px;
    }

    .stories__article:not(:last-child) {
        margin-bottom: 3.3%;
    }

    .stories__article:last-child {
        margin-bottom: 0%;
    }

    .article__text-invis {
        display: none;
    }

    .article__img {
        width: 155px;
        height: 130px;
        border-radius: 15px;
        margin-right: 10px;
        /* filter: drop-shadow(0px 4px 4px var(--palette-btn-main)); */
    }

    .article__title {
        font-size: var(--font-size-secondary-mobile);
        padding-top: 6px;
        margin-bottom: 10px;
        letter-spacing: 0.1px;
    }

    .article__item {
        display: var(--display-flex);
    }

    .article__content {
        padding-right: 0%;
    }

    .article__text {
        font-size: 9px;
    }

    .article__link {
        font-size: 9px;
    }

    .article__link:hover {
        /* text-shadow: 1px 1px 2px var(--palette-text-main), 0 0 1em var(--palette-btn-main), 0 0 0.2em var(--palette-btn-main); */
        /* font-family: var(--Aleo-Italic); */
        font-size: calc(var(--font-size-secondary-mobile) + 2px);
        /* font-weight: 700; */
        /* text-decoration: none; */
        /* border-bottom: 2px var(--palette-primary) dashed; */
    }


    .stories__content {
        margin-bottom: 1.8%;
    }

    .see-more_invis {
        margin-bottom: 13px;
    }

    .footer__img {
        background-image: url("../img/background/bg-footer-mob.jpg");
        background-size: cover;
        width: 100%;
        height: 693px;
        position: relative;
        margin-top: -635px;
    }

    .footer__copyright,
    .footer__personal-data {
        display: none;
    }

    .social-media {
        display: var(--display-flex);
        flex-direction: var(--flex-direction-row);
        justify-content: unset;
        gap: 0;
        align-items: center;
        margin-left: 3vw;
    }
}

/* .preview { */
/* padding: 33px 120px 19px 120px; */
/* padding: 2rem 7.5rem 19px 120px;  */
/* padding: 2.05rem 7.5rem 1.18rem 7.5rem; для фикс.верстки с пикселами, для  адаптива rem */
/* } */